/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #19A1AE;
  background-image: url("../img/bg-pattern-top.svg"), url("../img/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: top -639px left -639px, bottom -639px right -639px;
  background-position: top -39.9375rem left -39.9375rem, bottom -39.9375rem right -39.9375rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

main h1, main h2 {
  color: #2E3349;
}

main p {
  color: #6B7082;
}

.card {
  width: 21.875rem;
  max-width: 31.25rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0rem 3.125rem 6.25rem #08465E81;
  border-radius: 0.9375rem;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.card_header_bg {
  max-width: 100%;
  height: 8.75rem;
  background: url("../img/bg-pattern-card.svg");
}

.card_header img {
  margin-top: -3rem;
  border: 5px solid #FFFFFF;
  border-radius: 50%;
}

.card_bio h1 {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: 'Kumbh Sans', sans-serif;
  margin-top: 1.5rem;
  line-height: 1.1875rem;
}

.card_bio h1 .age {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: 'Kumbh Sans', sans-serif;
  color: #6B7082;
}

.card_bio .location {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 0.9375rem;
  margin-top: 0.75rem;
}

.card_stats {
  margin-top: 2rem;
  border-top: 1px solid #E8E9EC;
}

.card_stats ul {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2.8125rem 1.625rem 2.8125rem;
}

.card_stats ul h2 {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 1.1875rem;
}

.card_stats ul p {
  font-size: 0.625rem;
  font-weight: 400;
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 0.6875rem;
  letter-spacing: 0.09375rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 1000px) {
  body {
    background-position: top -39.9375rem left -75%, bottom -39.9375rem right -75%;
  }
}
/*# sourceMappingURL=main.css.map */