@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@import "reset";

$very-dark-blue: #08465E81;
$dark-blue: #2E3349;
$dark-sea:#19A1AE;
$light-gray: #6B7082;
$white: #FFFFFF;
$off-white: #E8E9EC;


$main-bg-color: $dark-sea;
$card-bg-color: $white;
$shadow-color: $very-dark-blue;
$bold-text-color: $dark-blue;
$text-color: $light-gray;

@function toRem($pix) {
    $rem: ($pix/16) + rem;
    @return $rem;
}

@mixin font ($size, $weight) {
    font-size: toRem($size);
    font-weight: $weight;
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: $main-bg-color 0% 0% no-repeat padding-box;

    h1, h2 {
        color: $bold-text-color;
    }

    p {
        color: $text-color;
    }
}

.card {
    width: 86.9%;
    max-width: toRem(500);
    background: $card-bg-color 0% 0% no-repeat padding-box;
    box-shadow: toRem(0) toRem(50) toRem(100) $shadow-color;
    border-radius: toRem(15);
    margin: auto;
    overflow: hidden;
    text-align: center;

    &_header {
        
        &_bg {
            max-width: 100%;
            height: toRem(140);
            background: url('../img/bg-pattern-card.svg');
        }

        img {
            margin-top: toRem(-48);
            border: 5px solid $white;
            border-radius: 50%;
        }
    }

    &_bio {
       h1 {
           @include font (18, 700);
           margin-top: toRem(24);
           line-height: toRem(19);

           .age {
               @include font (18, 400);
               color: $text-color;              
           }

            
       } 

       .location {
           @include font(14, 400);
           line-height: toRem(15); 
            margin-top: toRem(12);
        }
    }

    &_stats {
        margin-top: toRem(32);
        border-top: 1px solid $off-white;

        ul {
            display: flex;
            justify-content: space-between;
            padding: toRem(24) toRem(45) toRem(26) toRem(45);
            
            h2 {
                @include font (18, 700);
                line-height: toRem(19);
            }

            p {
               @include font(10, 400);
               line-height: toRem(11); 
               letter-spacing: toRem(1.5);
               margin-top: toRem(8) ;
            }
        }
    }

}
